<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>All movies</title>

    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!--include relevant controller script-->
    <script src="listController.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script>

        // Register function which will be called when DOM is loaded.
        $(initListView);

    </script>
</head>
<body>
<div class="container-fluid">

<h1>Movies</h1>

<!--Table for the movies-->
<table id="movies" class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Director</th>
        <th>Year</th>
        <th>Operations</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>
</body>
</html>