<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add movie</title>

    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!--include relevant controller script-->
    <script src="addController.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
        // Function passed as handler is called when DOM is loaded.
        $(initAddView);
    </script>
</head>
<body>
<div class="container-fluid">

    <h1>Add Movie</h1>

    Movie name:<br>
    <input type="text" id="name">
    <br> <br>
    Director name:<br>
    <input type="text" id="director">
    <br> <br>
    Year:<br>
    <input type="text" id="year">
    <br> <br>
    <button id="savebutton" class="btn btn-success">Save</button>
    <br><br>


</div>
</body>
</html>